<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee name</th>
            <th>Department</th>
            <th>Date of joining</th>
            <th>Options</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of EmployeeList">
            <td>{{ dataItem.EmployeeId }}</td>
            <td>{{ dataItem.EmployeeName }}</td>
            <td>{{ dataItem.Department }}</td>
            <td>{{ dataItem.DateOfJoining }}</td>
            <td> <button type="button" class="btn btn-light mr-1">Edit</button></td>
            <td> <button type="button" class="btn btn-light mr-1">Delete</button></td>
        </tr>
    </tbody>
</table>


